

<!DOCTYPE>
<html>
<head>
	<title>Hotel Application</title>
	<!-- roboto font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- our own css styles -->
    <link rel="stylesheet" href="/css/reviewstats.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- date range picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
	<!-- bootstrap css cdn-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- font awesome cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- slick carousel cdn -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.2.0/css/iziToast.min.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
        <div id="wrapper" class="toggled">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="<%=originalUrl%>" id="profile"> <%=JSON.stringify(user).replace(/['"]+/g, '')%> </a>
                    </li>
                    <li>
                        <a href="<%=myReservations%>" id="myReservations">My Reservations</a>
                    </li>
                    <li>
                        <a href="<%=myRoomReviews%>" id="myRoomReviews">My Room Reviews</a>
                    </li>
                    <li>
                        <a href="<%=myBreakfastReviews%>" id="myBreakfastReviews">My Breakfast Reviews</a>
                    </li>
                    <li>
                        <a href="<%=myServiceReviews%>" id="myServiceReviews">My Service Reviews</a>
                    </li>
                    <li>
                        <a href="<%=statistics%>" id="statistics">Reservation Statistics</a>
                    </li>
                    <li>
                        <a href="/logout" id="signOut">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
    
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <div id = "searchField">
                                <form method="post" action='<%=searchRoute%>'>
                                    <input type="text" name="state" class="biginput" id="searchBar">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 id="hotelName"> <%= hotelTitle %> </h1>                                
                        </div>
                    </div>
                    <div class="form-row">
                        <form action="<%=statistics%>" method="post">
                            <div class="col-sm-12 form-group required">
                                <label for="datefilter" class="control-label">Time Period</label>
                                <input class="form-control" type="text" name="datefilter" value="<%=previousDateInput%>"/>
                                <button type="submit" id="applyDateButton"class="btn btn-success applyDateButton">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class='form-row'>
                        <div class='col-xs-12'>
                            <label class='control-label' for="comment">Highest Rated Breakfast: <%=highestRatedBreakfast%></label>
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class='col-xs-12'>
                            <label class='control-label' for="comment">Highest Rated Service: <%=highestRatedService%></label>
                        </div>
                    </div>
                    <div class="outerContainer">
                    <!-- Dynamic addition of hotels -->
                                    <% hotels.forEach(function(hotel){ %>
                                        <div class="hotelContainer">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                                        <img src="<%=hotel.imagePath%>" class="hotelImage" alt="">
                                                    </div>
                                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                                        <h2 id="hotelNumber"><span class="hotelBoldInfo"> ID:</span> <%=hotel.Hotel_ID%></h2>
                                                        <h2 id="hotelNumber"><span class="hotelBoldInfo"> Rating:</span> <%=hotel.rate%></h2>
                                                        <h2 id="hotelNumber"><span class="hotelBoldInfo"> Highest Rated Room Type:</span> <%=hotel.type%></h2>
                                                    </div>
                                                </div> 
                                            </div>
                                    <%});%>
                                </div> 
                            </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
    
        </div>
<!-- end modal code -->
	<!-- jquery and bootstrap cdns -->
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<!-- slick carousel js cdn -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.2.0/js/iziToast.min.js"></script>
    <script src="/js/jquery.autocomplete.min.js"></script>
    <script src="/js/typed.min.js"></script>
	<!-- our own js scripts file -->
	<script src="/js/reviewstats.js"></script>
</body>
</html>